{% extends 'base.html' %}

{% block head %}
<style>

</style> 
{% endblock %}

{% block content %}
<div class="ui vertical segment">
    <div class="ui top attached tabular stackable menu">
        <a class="active item" data-tab="first">Doctor Verification</a>
        <a class="item" data-tab="second">Degrees Approval</a>
        <a class="item" data-tab="third">Service Approval</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
        <div class="ui stackable grid">
        {% if users %}
            {% for user in users %}
            <div class="row">
                <div class="ui sixteen wide column">
                    <div class="ui clearing segment">
                        <h3>User ID : {{ user.user_unique_id }}</h3>
                        <h5>BMDC Number : {{ user.doctorinfo.bmdc_number }}</h5>
                        <h5>Current Position : {{ user.doctorinfo.current_position }}</h5>
                        <h5>Current Working Department : {{ user.doctorinfo.current_working_department }}</h5>
                        <h5>Current Working Institution : {{ user.doctorinfo.current_working_institution }}</h5>
                        <a href="{% url 'staffs:approval_complete' user.id %}">
                            <div class="ui right floated button">Approve</div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>You have No applications to approve!</p>
        {% endif %}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        {% if degrees %}
        {% for degree in degrees %}
        <div class="row">
            <div class="ui sixteen wide column">
                <div class="ui clearing segment">
                    <a href="{% url 'doctors:doctor_detail' degree.user.id %}">
                        <h3>User ID : {{ degree.user.user_unique_id }}</h3>
                    </a>
                    <h3>Doctor Name : {{ degree.user.userinfo.first_name }} {{ degree.user.userinfo.last_name }}</h3>
                    <h3>Name Of Degree : {{ degree.name }}</h3>
                    <h5>Institution : {{ degree.institution_name }}</h5>
                    <h5>Starting Year : {{ degree.starting_time }}</h5>
                    <h5>Ending Year  : {{ degree.ending_time }}</h5>
                    <h5>Description Of Degree :</h5> <p>{{ description }}</p>
                    <a href="{% url 'staffs:degree_approval' degree.id %}">
                        <div class="ui right floated button">Approve</div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>You have No applications to approve!</p>
        {% endif %}
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui stackable grid">
        {% if services %}
        {% for service in services %}
        <div class="row">
            <div class="seven wide column">
                <div class="ui vertical clearing segment">
                    <a href="{% url 'doctors:doctor_detail' service.user.id %}">
                        <h3>User ID : {{ service.user.user_unique_id }}</h3>
                    </a>
                    <h3>Doctor Name : {{ service.user.userinfo.first_name }} {{ service.user.userinfo.last_name }}</h3>
                    <h3>Service Day : {{ service.day }}</h3>
                    <p>Clinic Name : {{ service.clinic_name }}</p>
                    <p>Starting Time : {{ service.start_time }}</p>
                    <p>Ending Time : {{ service.end_time }}</p>
                    <p>Patient per day : {{ service.patient_per_day }}</p>
                    
                </div>
            </div>
            <div class="nine wide column">
                <div class="ui vertical clearing segment">
                    <h3>Service Fee :</h3>
                    <h5>New Appointment : {{ service.servicefee.new_appointment_fee}}</h5>
                    <h5>Re Appointment : {{ service.servicefee.old_appointment_fee}}</h5>
                    <h5>Report Showing Appointment : {{ service.servicefee.report_appointment_fee}}</h5></h5>
                    <a href="{% url 'staffs:service_approval' service.id %}">
                        <div class="ui right floated button">Approve</div>
                    </a>
                </div>
            </div>
    </div>
        {% endfor %}
        {% else %}
        <p>You have No applications to approve!</p>
        {% endif %}
    </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    $('.menu .item').tab();
</script>
{% endblock %}