<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css"> -->

{% load custom_tags %}

<div class="ui card" style="width: 220px;">

    <div class="image" >
        {% if doctor.userinfo.image %}
        <img src="{{ doctor.userinfo.image.url }}" style="height: 240px;">
        {% endif %}
    </div>


    <div class="content">
        <a href="{% url 'doctors:doctor_detail' pk=doctor.pk %}"  class="header">
            {{ doctor.userinfo.first_name }}
            {{ doctor.userinfo.last_name }}
        </a>



        {% get_rating doctor as doctor_rating %}
        <span class="ui mini yellow disabled rating read only" data-rating="{{ doctor_rating }}" data-max-rating="5"></span>
        <span>{{doctor_rating}}</span>

        {% total_review doctor as total_doctor %}
        <span>({{ total_doctor }})</span>
       


        <!-- Doctor Speciality  -->
        <div class="meta">
            {% for sp in specialitys %}
                {% if sp.user == doctor %}
                    {{ sp }}
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Doctor Degrees -->
        <div class="description">
            {% for dg in degrees %}
            {% if dg.user == doctor %}
            {{ dg.name }}

            {% if dg.subject %}
            ({{ dg.subject }})
            {% endif %}
            ,
            {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div class="extra content">
        <a href="{% url 'appointments:appointment_schedule' doctor.pk %}">
            <button class="ui fluid green button">Schedule</button>
        </a>
    </div>
</div>
</a>



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/components/rating.min.js"></script> -->

<script>
    $('.ui.rating').rating();
    
</script>