{% extends 'base.html' %}
{% block title %} New Prescription {% endblock %}
{% block head %}
<style>
    img{
        width: 200px;
        height: 225px;
    }
    add_medicine_button{
        float: right !important;
    }
    .ui.modal{
        padding: 20px ;
    }
    .ui.form{
        padding: 15px;
    }
    .ui.stackable.grid.show_medicine{
        margin: 0px 100px 0px 100px;
        padding: 10px;
    }
    .ui.dividing.header{
        padding: 10px 20px 10px 20px !important;
        font-size: 20px !important;
    }
    .test{
        width: 200px !important;
        padding: 13px !important;
    }
    
</style>
{% endblock %}
{% block content %}
<div class="ui vertical segment">
<div><h1>New Preascription</h1></div>
<div class="ui clearing segment">
    <div class="ui stackable grid">
        <div class="five wide column">
            <img src="{{ cart.doctor.userinfo.image.url }}" alt="">
        </div>
        <div class="six wide column">
            <h1>Dr. {{ cart.doctor.userinfo.first_name }} {{ cart.doctor.userinfo.last_name }}</h1>
            <p>
                <small class="meta">
                    {% for degree in degrees %}
                    {{ degree.name }},
                    {% endfor %}
                </small>
            </p>
            <p>{{ cart.doctor.doctorinfo.current_position }} </p>
            <p> Department of {{ cart.doctor.doctorinfo.speciality }} </p>
           
            <p> {{ cart.doctor.doctorinfo.current_working_institution }} </p>
        </div>
        <div class="five wide column">
            <h1>{{ cart.user.userinfo.first_name }} 
                {{ cart.user.userinfo.last_name }}</h1>
            <p>User ID : {{ cart.user.user_unique_id }}</p>
            <p>Appointment ID : {{ cart.appointment_id }}</p>
        </div>
    </div>
<hr>


<div class="ui basic clearing segment">
    <button type="button" class="circular ui left floated green button test add_medicine">
        Add medicine
    </button>

    <button type="button" class="circular ui left floated green button test add_test">
        Add Test
    </button>

    <a href="{% url 'appointments:complete_appointment' cart.id %}">
        <div class="circular ui right floated red button test"> Mark as Complete</div>
    </a>
    <a href="{% url 'appointments:previous_treatment' cart.appointment_id %}">
        <div class="circular ui right floated green button test">Previous Preascription</div>
    </a>

       
  
</div>

<!-- This is for showing added medicine -->
    <div class="show_medicine">
        <div class="ui segments ">
            
            <!-- Showing Medicine -->
        {% if medicines %}
        <div class="ui dividing header">Medicine</div>
        {% for medicine in medicines %}
            <div class="ui basic clearing segment">
                <h3>{{ medicine.name }}</h3>
                

                <!-- <h1>{{ test.id }}</h1>
                <h1>{{ cart.id }}</h1> -->


                <a href="{% url 'medicines:delete_medicine' medicine.id cart.appointment_id %}">
                    <div class="ui right floated red labeled icon button delete_medicine">
                        <i class="trash alternate icon"></i>
                        Delete</div></a>
                <p class="meta">Quantity: {{ medicine.quantity }} &emsp;
                    Taking Time: {{ medicine.taking_time }}
                </p>
            </div>
        {% endfor %}
        {% endif %}
        

        <!-- showing Test -->
        {% if tests %}
        <div class="ui dividing header">Test</div>
        {% for test in tests %}
        <div class="ui basic clearing segment">
            <h3>{{ test.name }}</h3>
            <a href="{% url 'medicines:delete_test' test.id cart.appointment_id %}">
                <div class="ui right floated red labeled icon button delete_test">
                    <i class="trash alternate icon"></i>
                    Delete</div>
                
            </a>
            <h5>Condition : {{ test.condition }}</h5>
            <h5>Test Description : </h5>
            <p>{{ test.description }}</p>

        </div>
        {% endfor %}
        {% endif %}


        </div>
    </div>


<!-- this is for add medicine form -->
    <div class="ui modal medicine">
        <i class="close icon"></i>
        <div class="header">
            Add medicine here
        </div>
        <form method="POST" class="ui form">
            {% csrf_token %}
            <div class="content">
                <div class="description">
                    <div class="fields">
                        <div class="six wide field">
                            <label>{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        <div class="three wide field">
                            <label>{{ form.taking_time.label }}</label>
                            {{ form.taking_time }}
                        </div>
                        <div class="two wide field">
                            <label>{{ form.quantity.label }}</label>
                            {{ form.quantity }}
                        </div>
                    </div>
                    <button class="ui button add_medicine_button" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>





    <!-- this is for add test form -->
    <div class="ui modal test">
        <i class="close icon"></i>
        <div class="header">
            Add Test here
        </div>
        <form method="POST" class="ui form">
            {% csrf_token %}
            <div class="content">
                <div class="description">
                    <div class="fields">
                        <div class="eight wide field">
                            <label>{{ test_form.name.label }}</label>
                            {{ test_form.name }}
                        </div>
                        <div class="eight wide field">
                            <label>{{ test_form.condition.label }}</label>
                            {{ test_form.condition }}
                        </div>
                    </div>
                    <div class="field">
                        <label>{{ test_form.description.label }}</label>
                        {{ test_form.description }}
                    </div>

                    <button class="ui button add_test_button" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>






</div>
</div>
{% endblock %}
 

{% block scripts %} 
<script>
    $(".add_medicine").click(function(){
        $('.ui.modal.medicine')
            .modal('show')
            ;
    })

    $(".add_test").click(function () {
            $('.ui.modal.test')
                .modal('show')
                ;
        })

</script>
{% endblock %}