{% extends 'base.html' %}
{% block head %}
<style>
    .user_img{
        width: 250px !important;
        height: 275px !important;
    }
    .gap{
        height: 20px !important;
    }
</style>
{% endblock %}
{% block content %} 
<div class="gap"></div>


<div class="ui stackable grid">
    <div class="row">
    <div class="ui center aligned segment">
        <div class="four wide column">
            <h1>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</h1>
            {% if user.userinfo.image %}
            <image src="{{ user.userinfo.image.url }}" style="width:220px; height: 250px;"></image>
            {% endif %}
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui segment">
            There will be some info....
        </div>
    </div>
    <div class="four wide right floated column">
        <div class="ui segment">
            <a href="{% url 'medicines:user_prescription' user.user_unique_id %}">
                <button class="fluid ui right labeled teal basic icon button">
                    User Prescription<i class="medkit icon"></i>
                </button>
            </a>
        </div>
    </div>
    </div>

    <div class="row">
        r2
    </div>
</div>




<!-- <div class="row">
    <div class="ui four wide column">
        <img src="{{ user.userinfo.image.url }}" alt="" class="user_img">
    </div>
    <div class="twelve wide column">
        <h1>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</h1>
    </div>
</div> -->

{% endblock %}