{% extends 'base.html' %}

{% block head %}
<style>
    .wrapper_seg{
        margin-bottom: 20px !important;
        
    }
    .ui.input{
        /* width: 150px !important; */
        padding-right: 40px !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="ui vertical segment wrapper_seg">
        <div class="ui stackable grid">
            <div class="four wide column">
                <div class="ui center aligned segment">

                    {% if user.userinfo.image %}
                    <image src="{{ user.userinfo.image.url }}" style="width:220px; height: 250px;"></image>
                    {% endif %}
                    
                    <!-- User Image form -->
                    <form class="ui equal width form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="ui input" type="submit">
                            {{ img_form.image }}
                            <button class="ui icon button">
                                <i class="save icon"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
    
            <div class="eight wide column">
                <div class="ui clearing segment">
                    <h1>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</h1>
                    {% if request.user.user_type == 'doctor' %}

                    <p>BMDC Number : {{ user.doctorinfo.bmdc_number }}</p>
                    <p>Designation : {{ user.doctorinfo.current_position }} </p>
                    <p>Department : {{ user.doctorinfo.current_working_department }} </p>
                    <p>Institution : {{ user.doctorinfo.current_working_institution }} </p>



                    <a href="{% url 'doctors:doctor_info'%}">
                        <button class="ui right floated button">Add Doctorial Info</button>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="four wide right floated column">
                <div class="ui segment">
                    <a href="{% url 'medicines:user_prescription' user.user_unique_id %}">
                        <button class="fluid ui right labeled teal basic icon button">
                            My Prescription<i class="medkit icon"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
<!-- Personal Informations -->
        <div class="ui stackable grid">
            <div class="row">
                <div class="column">
                    <div class="ui clearing segment">
                        <h2>Personal Info</h2>
                        <h4>Religion : {{ user.userinfo.religion }}</h4>
                        <h4>Gender : {{ user.userinfo.gender }}</h4>
                        <h4>Email : {{ user.email }}</h4>
                        <h4>User type : {{ user.user_type }}</h4>
                        <h4>Date Of Birth : {{ user.dob }} </h4>
                        <a href="{% url 'users:edit_user_info' %}">
                            <button class="ui right floated green basic button">
                                Edit your profile
                            </button>
                        </a> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui clearing segment">
                        <h2>Address</h2>
                        <h4>Country : {{ user_address.country.name }}</h4>
                        <h4>State/Divivsion : {{ user_address.division.name }}</h4>
                        <h4>City/Town : {{ user_address.city.name }}</h4>
                        {{ user_address.area.name }} , {{ user_address.address.name }}
                        <a href="{% url 'users:user_address_form' %}">
                            <button class="ui right floated green basic button">Edit address </button>
                        </a> 
                    </div>
                </div>
            </div>
        </div>

        {% if request.user.user_type == 'doctor' %}
        <!-- for degree info -->
        <div class="ui stackable grid">
            <div class="column">
                <div class="ui clearing segment">
                    <div style="text-align: center;">
                        <h1>Your Degrees </h1>
                    </div>
                    {% for degree in degrees %}
                    <div class="ui clearing segment">
                        <h1>{{ degree.name }}
                            {% if degree.subject %}
                            ({{ degree.subject }})
                            {% endif %}
                        </h1>
                        <p>{{ degree.institution_name }}</p>
                        {{ degree.starting_time }} <span> &emsp; To &emsp;</span>
                        {{ degree.ending_time }}
                    </div>
                    {% endfor %}
                    
                    <a href="{% url 'degrees:degree_form' %}">
                        <div class="ui right floated green basic button"> Add Degree</div>
                    </a>
                    
                </div>
            </div>
        </div>

        <!-- speciality section -->
        <div class="ui stackable grid">
            <div class="column">
                <div class="ui clearing segment">
                    <div style="text-align: center;">
                        <h1>Your Speciality </h1>
                    </div>
                    {% if specialitys %}
                    {% for speciality in specialitys %}
                    <div class="ui clearing segment">
                        <h1>{{ speciality.speciality }}
                            
                        </h1>
                        <p>{{ speciality.speciality_details }}</p>
                        {{ speciality.start_time }} <span> &emsp; To &emsp;</span>
                        {{ speciality.end_time }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <a href="{% url 'doctors:speciality_form' %}">
                    <div class="ui right floated green basic button">
                        Add Speciality
                    </div></a>
                </div>
            </div>
        </div>



        <!-- for service info -->
        <div class="ui clearing segment">
            <div style="text-align: center;">
                <h1>Your Services </h1>
            </div>
            {% if services %}
            {% for service in services %}
            <div class="ui segment">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class="seven wide column">
                            <b>
                                <h1>{{ service.day }}</h1>
                            </b>
                        
                            <p>{{ service.clinic_name }}</p>
                            <p>{{ service.address.name }},{{ service.area.name }},
                                {{ service.city.name }},{{ service.division.name }},{{ service.country.name }}</p>
                            {{ service.start_time }} <span> &emsp; To &emsp;</span>
                            {{ service.end_time }}
                        </div>
                        <div class="six wide column">
                            <h3>Appointment Fee</h3>
                            <p>New Appointment : BDT {{ service.servicefee.new_appointment_fee}}</p>
                            <p>Re-Appointment : BDT {{ service.servicefee.old_appointment_fee}}</p>
                            <p>Report Show Appointment : BDT {{ service.servicefee.report_appointment_fee}}</p>
                        </div>
                        <div class="three wide column">
                            <a href="{% url 'services:service_edit' service.id %}"><button class="ui button">Edit Service</button></a>
                        </div>
                    </div> 
                </div>  
            </div>
            {% endfor %}
            {% endif %}
            <a href="{% url 'services:doctor_service_form' %}">
                <div class="ui right floated basic green button">
                    Add New Service
                </div></a>
            </div>
    </div>

    {% endif %}


    {% endblock %}