{% extends 'base.html' %}
{% block content %}
<div class="ui vertical segment">
    User Address
    <form class="ui form" method="POST">
        {% csrf_token %}
        <div class="fields">
            <div class="four wide field">
                <div class="ui selection dropdown" id="country_dropdown">
                    <input type="hidden" name="country" id="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select country</div>
                    <div class="menu">
                        {% for country in countrys %}
                        <div class="item" data-value="{{ country.id }}">{{ country.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="four wide field">
                <div class="ui selection dropdown" id="division_dropdown">
                    <input type="hidden" name="division" id="division">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select country first</div>
                    <div class="menu" id="division_data">
                        <!--data will be placed here after select country-->
                    </div>
                </div>
            </div>
            <div class="four wide field">
                <div class="ui selection dropdown" id="city_dropdown">
                    <input type="hidden" name="city" id="city">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select your city</div>
                    <div class="menu" id="city_data">
                        <!--data will be placed here after select country-->
                    </div>
                </div>
            </div>
            <div class="field">
                {{ form.area }}
            </div>
            <div class="field">
                {{ form.address }}
            </div>
        </div>
        <button class="ui positive button" type="submit">Submit</button>
    </form>
</div>


{% endblock %}

{% block scripts %}
<script>
        $('#country_dropdown').dropdown();
        $('#division_dropdown').dropdown();
        $('#city_dropdown').dropdown();

        // $('#country_dropdown').dropdown('set selected', 'Bangladesh');

        $('#country_dropdown').dropdown('setting', 'onChange', function () {
            $("#division_data").empty();
            var country_id = $("#country").val()
            $.ajax({
                    type: 'get',
                    url: '{% url "users:division_api" %}',
                    data: {
                        'country_id': country_id
                    },
                    success:function(data){
                        division = data.data;
                        for(var i=0; i<division.length; i++){
                            division_id = division[i].id;
                            division_name = division[i].name;
                            html =  `
                                <div class="item" data-value="${division_id}"> ${ division_name }</div>
                            `
                            $("#division_data").append(html);
                        }
                        
                    }
                });
          });

            $('#division_dropdown').dropdown('setting', 'onChange', function () {
                $("#city_data").empty();
                    var division_id = $("#division").val()
                    $.ajax({
                        type: 'get',
                        url: '{% url "users:city_api" %}',
                        data: {
                            'division_id': division_id
                        },
                        success: function (data) {
                            city = data.data;
                            for (var i = 0; i < city.length; i++) {
                                city_id = city[i].id;
                                city_name = city[i].name;
                                html = `
                                <div class="item" data-value="${city_id}"> ${city_name}</div>
                            `
                                $("#city_data").append(html);
                            }
                            city = { }
                        }
                    });
                });

            
   
</script>
{% endblock %}