{% extends 'base.html' %}
{% block title %} Doctor Detail {% endblock %}
{% block head %}
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">



    <style>
      .wrapper{
          margin: 20px !important;
      }
      #rating_form{
        font-size: 30px !important;
        padding: 5px !important;
    }
    .review_info{
        margin: 10px 0px 10px 0px !important;
        padding: 10px 0px 10px 0px !important;
    }
    .show_review{
        margin: 10px 0px 10px 0px !important;
        padding: 10px 0px 10px 0px !important;
    }
    .review_segments{
        padding: 15px !important;
    }
    .ui.header.review{
        font-size: 22px !important;
        letter-spacing: 1px !important;
    }
    .rating_number{
        font-size: 18px !important;
        
        margin-left: 10px !important;
        margin-bottom: 2px !important;
    }
    .review_date{
        float: right !important;
    }
    /* .ui.star.rating.show{
        font-size: 15px !important;
        padding: 5px !important;
    } */

    
    </style>
{% endblock %}
    
{% block content %}

{% load custom_tags %}

<div class="wrapper">
<div class="ui stackable grid">
    <div class="five wide column">
        <div class="ui center aligned  segment">
            {% if doctor.userinfo.image %}
            <img src="{{ doctor.userinfo.image.url }}" style="width: 240px; height: 275px;">
            {% endif %}
        </div>
    </div>
    <div class="eleven wide right floated column">
        <div class="ui  segment">
            <div class="ui header">{{ doctor.userinfo.first_name }} {{ doctor.userinfo.last_name }}</div>
            

            <!-- rating  -->
            <p>
                <span class="ui huge yellow rating read only"
                 data-rating="{{ avg_rating }}" data-max-rating="5"></span>
                 <span class="rating_number">{{ avg_rating }} / 5</span>

                {% total_review doctor as total_doctor %}
                <span style="font-size: 18px;">({{ total_doctor }})</span> </p>



            <div class="meta">
                {% for degree in degrees %}

                {{ degree.name }}
                {% if degree.subject %}
                ({{ degree.subject }})
                {% endif %},

                {% endfor %}
            </div>
            <br>
            {% if specialitys %}
            <p>Expertise : {% for sp in specialitys %}{{sp.speciality}},{% endfor %}</p>
            {% endif %}
            <p>Designation : {{ doctor.doctorinfo.current_position }} </p>
            <p>Department : {{ doctor.doctorinfo.current_working_department }} </p>
            <p>Institution : {{ doctor.doctorinfo.current_working_institution }} </p>
            <button class="ui button">
                <a href="{% url 'appointments:appointment_schedule' doctor.pk %}">Schedule</a>
            </button>
            
        </div>
    </div>
</div>
<div class="ui stackable grid">
    <div class="row">
    <div class="column">
            <div class="ui top attached tabular stackable menu">
                <a class="active item" data-tab="first">Personal Information</a>
                <a class="item" data-tab="second">Medical Information</a>
                <a class="item" data-tab="third">Graduation Information</a>
                <a class="item" data-tab="Speciality">Speciality</a>
                <a class="item" data-tab="fifth">Experiences</a>
            </div>

            <div class="ui bottom attached active tab segment" data-tab="first">
                <h4>Religion : {{ doctor.userinfo.religion }} </h4>
                <h4>Gender : {{ doctor.userinfo.gender }} </h4>
                <h4>Country: {{ address.country.name }}</h4>
                <h4>Address : {{address.address.name }},{{address.area.name }},{{address.city.name }},{{address.division.name }}</h4>
            </div>

            <div class="ui bottom attached tab segment" data-tab="second">
                
                <h4>BMDC Number : {{ doctor.doctorinfo.bmdc_number }} </h4>
                <h4>Current position: {{ doctor.doctorinfo.current_position }} </h4>
                <h4>Department of  : {{ doctor.doctorinfo.current_working_department }} </h4>
                <h4>{{ doctor.doctorinfo.current_working_institution }} </h4>
            </div>

            <div class="ui bottom attached tab segment" data-tab="third">
                    {% if degrees %}
                    {% for degree in degrees %}
                    <h3>{{ degree.name }}
                        {% if degree.subject %}
                        ({{ degree.subject }})
                        {% endif %}
                    </h3>
                    <h5>{{ degree.institution_name }}</h5>
                    <h5>{{ degree.starting_time }}</h5>
                    <h5>{{ degree.ending_time }}</h5>
                    <br><br>
                    {% endfor %}
                    {% endif %}
            </div>
            <div class="ui bottom attached tab segment" data-tab="Speciality">
                {% if specialitys %}
                {% for speciality in specialitys %}
                <h3>{{ speciality.speciality }}
                </h3>
                <h5>Description of Speciality : </h5> <p>{{ speciality.speciality_details }}</p>
                <h5>{{ speciality.start_time }}</h5>
                <h5>{{ speciality.end_time }}</h5>
                <br><br>
                {% endfor %}
                {% endif %}
            </div>
            <div class="ui bottom attached tab segment" data-tab="fifth"></div>
    </div></div>


    <!-- Review Section submit section-->
    {% if cartitems %}
    <div class="row">
        <div class="column">
            <div class="review_info">
                <div class="ui dividing header">
                    Review about your most recent unreviewed appointment!
                </div>
                <span>Most Recent Unreviewed Appointment Day : </span><span>{{ last_appointment.service.day }}</span>
                <br>
                <span>Recent Unreviewed Appointment Date : </span>
                <span>{{ last_appointment.appointment_schedule.appointment_date }}</span>
                
            </div>
            <form method="POST" class="ui form review_form">
                {% csrf_token %}
                <div class="ui star rating" data-rating="3" id="rating_form"></div>
                
                <div class="field">
                    <label>{{ form.comment.label_tag }}</label>
                    {{ form.comment }}
                </div>
                
                <button type="submit" class="ui fluid green button">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- Review Showing section -->
    
    {% if reviews %}
    <div class="row">
        <div class="column">
            <div class="show_review">
                <div class="ui segments review_segments">
                    <div class="ui header review">Ratings & Reviews of Dr.
                        {{ doctor.userinfo.first_name }}
                        {{ doctor.userinfo.last_name }}
                    </div>
                    {% for review in reviews %}
                    <div class="ui vertical segment">
                        <div class="">
                            <div class="ui header show_review_comment">
                                {{ review.user.userinfo.first_name }}
                                {{ review.user.userinfo.last_name }}
                            </div>
                            <div class="review_date">{{ review.created_at }}</div>
                        </div>

                        <div class="ui star rating show" data-rating="{{ review.rating }}" ></div>
                        <p>{{ review.comment }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


</div>


</div>
{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/components/rating.min.js"></script>

<script>

    
   
    $(document).ready(function () {
        $('.menu .item').tab();

        $('.ui.rating').rating({
            initialRating: 3,
            maxRating: 5
        });


        // $('.toggle.example .ui.heart.rating')
        //     .rating('disable')
        //     ;

        $('.ui.yellow.rating.read.only').rating('disable');

        $('.review_form').submit(function (e) {

            e.preventDefault();
            console.log('button selected')
            var rat_value = $('#rating_form > .icon.active').length
            comment = $('#id_comment').val()
            console.log(rat_value)
            $.ajax({
                type: 'POST',
                url: "{% url 'reviews:submit_rating' %}",
                data: {
                    comment: comment,
                    rat_value: rat_value,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    window.location = window.location
                }
            })
        })
    })
</script>
{% endblock %}