{% extends 'base.html' %}
{% block head %}
    <style>
      .wrapper{
          margin: 20px !important;
      }
      #rating_form{
        font-size: 30px !important;
        padding: 5px !important;
    }
    .review_info{
        margin: 10px 0px 10px 0px !important;
        padding: 10px 0px 10px 0px !important;
    }

    </style>
{% endblock %}
    
{% block content %}
<div class="wrapper">
<div class="ui stackable grid">
    <div class="five wide column">
        <div class="ui center aligned  segment">
            {% if doctor.userinfo.image %}
            <img src="{{ doctor.userinfo.image.url }}" style="width: 240px; height: 275px;">
            {% endif %}
        </div>
    </div>
    <div class="eleven wide right floated column">
        <div class="ui  segment">
            <h1>{{ doctor.userinfo.first_name }} {{ doctor.userinfo.last_name }}</h1>
            <div class="meta">
                {% for degree in degrees %}

                {{ degree.name }}
                {% if degree.subject %}
                ({{ degree.subject }})
                {% endif %},

                {% endfor %}
            </div>
            <br>
            {% if specialitys %}
            <p>Expertise : {% for sp in specialitys %}{{sp.speciality}},{% endfor %}</p>
            {% endif %}
            <p>Designation : {{ doctor.doctorinfo.current_position }} </p>
            <p>Department : {{ doctor.doctorinfo.current_working_department }} </p>
            <p>Institution : {{ doctor.doctorinfo.current_working_institution }} </p>
            <button class="ui button">
                <a href="{% url 'appointments:appointment_schedule' doctor.pk %}">Schedule</a>
            </button>
            
        </div>
    </div>
</div>
<div class="ui stackable grid">
    <div class="row">
    <div class="column">
            <div class="ui top attached tabular stackable menu">
                <a class="active item" data-tab="first">Personal Information</a>
                <a class="item" data-tab="second">Medical Information</a>
                <a class="item" data-tab="third">Graduation Information</a>
                <a class="item" data-tab="Speciality">Speciality</a>
                <a class="item" data-tab="fifth">Experiences</a>
            </div>

            <div class="ui bottom attached active tab segment" data-tab="first">
                <h4>Religion : {{ doctor.userinfo.religion }} </h4>
                <h4>Gender : {{ doctor.userinfo.gender }} </h4>
                <h4>Country: {{ address.country.name }}</h4>
                <h4>Address : {{address.address.name }},{{address.area.name }},{{address.city.name }},{{address.division.name }}</h4>
            </div>

            <div class="ui bottom attached tab segment" data-tab="second">
                
                <h4>BMDC Number : {{ doctor.doctorinfo.bmdc_number }} </h4>
                <h4>Current position: {{ doctor.doctorinfo.current_position }} </h4>
                <h4>Department of  : {{ doctor.doctorinfo.current_working_department }} </h4>
                <h4>{{ doctor.doctorinfo.current_working_institution }} </h4>
            </div>

            <div class="ui bottom attached tab segment" data-tab="third">
                    {% if degrees %}
                    {% for degree in degrees %}
                    <h3>{{ degree.name }}
                        {% if degree.subject %}
                        ({{ degree.subject }})
                        {% endif %}
                    </h3>
                    <h5>{{ degree.institution_name }}</h5>
                    <h5>{{ degree.starting_time }}</h5>
                    <h5>{{ degree.ending_time }}</h5>
                    <br><br>
                    {% endfor %}
                    {% endif %}
            </div>
            <div class="ui bottom attached tab segment" data-tab="Speciality">
                {% if specialitys %}
                {% for speciality in specialitys %}
                <h3>{{ speciality.speciality }}
                </h3>
                <h5>Description of Speciality : </h5> <p>{{ speciality.speciality_details }}</p>
                <h5>{{ speciality.start_time }}</h5>
                <h5>{{ speciality.end_time }}</h5>
                <br><br>
                {% endfor %}
                {% endif %}
            </div>
            <div class="ui bottom attached tab segment" data-tab="fifth"></div>
    </div></div>


    <!-- Review Section -->
    <div class="row">
        <div class="column">
            {% if cartitems %}
            <div class="review_info">
                <div class="ui dividing header">
                    Review about your most recent unreviewed appointment!
                </div>
                <span>Most Recent Unreviewed Appointment Day : </span><span>{{ last_appointment.service.day }}</span>
                <br>
                <span>Recent Unreviewed Appointment Date : </span>
                <span>{{ last_appointment.appointment_schedule.appointment_date }}</span>
                
            </div>
            <form method="POST" class="ui form review_form">
                {% csrf_token %}
                <div class="ui star rating" data-rating="3" id="rating_form"></div>
                
                <div class="field">
                    <label>{{ form.comment.label_tag }}</label>
                    {{ form.comment }}
                </div>
                
                <button type="submit" class="ui fluid green button">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>


</div>


</div>
{% endblock %}

{% block scripts %}
<script>
   
    $(document).ready(function () {
        $('.menu .item').tab();

        $('.ui.rating').rating({
            initialRating: 3,
            maxRating: 5
        });

        $('.review_form').submit(function (e) {

            e.preventDefault();
            console.log('button selected')
            var rat_value = $('#rating_form > .icon.active').length
            comment = $('#id_comment').val()
            console.log(rat_value)
            $.ajax({
                type: 'POST',
                url: "{% url 'reviews:submit_rating' %}",
                data: {
                    comment: comment,
                    rat_value: rat_value,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    window.location = window.location
                }
            })
        })
    })
</script>
{% endblock %}