{% extends "base.html" %}
{% block head %}
<style>
  .speciality_form{
      max-width: 650px !important;
      margin: auto !important;
      padding: 10px !important;
      background-color: teal !important;
      color: whitesmoke !important;
  }
  .ui.header{
      text-align: center !important;
      font-size: 25px !important;
      padding: 5px !important;
      color: whitesmoke !important;
      }
  .ui.form{
      padding: 20px !important;
  }
</style>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="column speciality_form">
        <form method="POST" class="ui form">
            <div class="ui header">Add Your Speciality</div>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="circular ui positive fluid button" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}