{% extends 'base.html' %}

{% block head %}
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<style>
    .ui.equal.width.form{
        margin: 5% !important;
        padding: 5% !important;
        background-color: cadetblue !important;
    }
    h1 {
        text-align: center;
    }
</style>
{% endblock %}


{% block content %}
<div class="ui vertical segment">
    
    <form class="ui equal width form" method="POST">
        {% csrf_token %}
        <h1>Doctor Service Form</h1>
        <h4 class="ui dividing header">Service Information</h4>
        <div class="field">
            <label>Select Service Day</label>
            {{ form.day }}
        </div>
        
        <div class="fields">
            <div class="field">
                <label for="id_starting_date">* Service Start Time</label>
                <div class="ui left icon input">
                    {{ form.start_time }}
                    <i class="calendar alternate icon"></i>
                </div>
            </div>
            <div class="field">
                <label for="id_starting_date">* Service End Time</label>
                <div class="ui left icon input">
                    {{ form.end_time }}
                    <i class="calendar alternate icon"></i>
                </div>
            </div>
        </div>
        
        
        <h4 class="ui dividing header">Service Address</h4>
        <div class="field">
            <label>Clinic Name</label>
            {{ form.clinic_name }}
        </div>
        <div class="three fields">
            <div class="field">
                <label>Country</label>
                <div class="ui selection dropdown" id="country_dropdown">
                    <input type="hidden" name="country" id="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select country</div>
                    <div class="menu">
                        {% for country in countrys %}
                        <div class="item" data-value="{{ country.id }}">{{ country.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Division/States</label>
                <div class="ui selection dropdown" id="division_dropdown">
                    <input type="hidden" name="division" id="division">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select country first</div>
                    <div class="menu" id="division_data">
        
                    </div>
                </div>
            </div>
            <div class="field">
                <label>City/Town</label>
                <div class="ui selection dropdown" id="city_dropdown">
                    <input type="hidden" name="city" id="city">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select your city</div>
                    <div class="menu" id="city_data">
        
                    </div>
                </div>
            </div>
        </div>
        <div class="tow fields">
            <div class="field">
                <label>Area</label>
                {{ form.area }}
            </div>
            <div class="field">
                <label>Address</label>
                {{ form.address }}
            </div>
        </div>
        
        <h4 class="ui dividing header">Service fee</h4>
        <div class="fields">
            <div class="field">
                <label>New Appointment Fee</label>
                {{ form.new_appointment_fee}}
            </div>
            <div class="field">
                <label>Re-appointment Fee</label>
                {{ form.old_appointment_fee }}
            </div>
            <div class="field">
                <label>Report Showing Appointment fee</label>
                {{ form.report_appointment_fee}}
            </div>
        </div>

        <button class="ui fluid positive button" type="submit">Submit</button>
    </form>

</div>






<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


{% endblock %}

{% block scripts %}
<script>
    $('#country_dropdown').dropdown();
    $('#division_dropdown').dropdown();
    $('#city_dropdown').dropdown();
    $('.ui.selection.dropdown').dropdown();

    

    // $('#country_dropdown').dropdown('set selected', 'Bangladesh');

    $('#country_dropdown').dropdown('setting', 'onChange', function () {
        $("#division_data").empty();
        var country_id = $("#country").val()
        $.ajax({
            type: 'get',
            url: '{% url "users:division_api" %}',
            data: {
                'country_id': country_id
            },
            success: function (data) {
                division = data.data;
                for (var i = 0; i < division.length; i++) {
                    division_id = division[i].id;
                    division_name = division[i].name;
                    html = `
                                <div class="item" data-value="${division_id}"> ${division_name}</div>
                            `
                    $("#division_data").append(html);
                }

            }
        });
    });

    $('#division_dropdown').dropdown('setting', 'onChange', function () {
        $("#city_data").empty();
        var division_id = $("#division").val()
        $.ajax({
            type: 'get',
            url: '{% url "users:city_api" %}',
            data: {
                'division_id': division_id
            },
            success: function (data) {
                city = data.data;
                for (var i = 0; i < city.length; i++) {
                    city_id = city[i].id;
                    city_name = city[i].name;
                    html = `
                                <div class="item" data-value="${city_id}"> ${city_name}</div>
                            `
                    $("#city_data").append(html);
                }
                city = {}
            }
        });
    });

    $(function () {
            $("#id_start_time, #id_end_time").timepicker({
                timeFormat: 'h:mm p',
            });
    });

</script>

{% endblock %}

    <!-- <script>
        $(function () {
            $("#id_start_time, #id_end_time").timepicker({
                timeFormat: 'h:mm p',
            });
        });
    </script> -->
